# PostgreSQL Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=rfm_db
DB_USER=rfm_user
DB_PASSWORD=rfm_password

# Airflow Configuration
AIRFLOW_HOME=/airflow
AIRFLOW__CORE__DAGS_FOLDER=/airflow/dags
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__UNIT_TEST_MODE=False
